* 
{
  box-sizing: border-box;
}
body 
{
  padding-left: 25%;
  margin: 0;
  background-color: #00ffd5;
}
h1
{
  padding-left: 10%;
  text-transform: uppercase;
  
}
label
{
  font-size: 20px;
}
.Btn {
  border:0;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #000;
  background: #fff;
  line-height: 15px;
  border-radius: 20px;
  padding: 15px;
  font-size: 15px;
}

.Btn:hover{
  box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
  transform: scale(1.01);
}










